In [1]:
import sys
import os

import pandas as pd
import numpy as np

In [3]:
sys.path.insert(0, os.path.abspath('/home/jupyter/kaggle/predict_future_sales/src'))

import munging.process_data as data_util

In [4]:
DATA_DIR = '/home/jupyter/kaggle/predict_future_sales/data'
PROCESSED_DIR = 'processed'
READ_ONLY_DIR = 'read_only'

In [53]:
training_df = pd.read_csv(f"{DATA_DIR}/{PROCESSED_DIR}/train_merged.csv")

In [48]:
training_df.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'item_name', 'item_category_id', 'item_category_name',
       'shop_name'],
      dtype='object')

In [ ]:
training_df['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'item_name', 'item_category_id', 'item_category_name',
       'shop_name']

In [55]:
training_df.tail()

,date,date_block_num,shop_id,item_id,item_category_id,item_name,item_category_name,shop_name,item_price,item_cnt_day
2935844,2015-10-31,33,41,21386,40,ХОББИТ: ПУСТОШЬ СМАУГА (регион),Кино - DVD,"РостовНаДону ТЦ ""Мега""",169.0,1.0
2935845,2015-10-31,33,21,988,37,38-Я ПАРАЛЛЕЛЬ (BD),Кино - Blu-Ray,"Москва МТРЦ ""Афи Молл""",199.0,1.0
2935846,2015-10-31,33,41,21377,40,ХОББИТ: НЕЖДАННОЕ ПУТЕШЕСТВИЕ (регион),Кино - DVD,"РостовНаДону ТЦ ""Мега""",169.0,1.0
2935847,2015-10-31,33,22,10207,30,"Ведьмак 3: Дикая охота [PC, Jewel, русская вер...",Игры PC - Стандартные издания,Москва Магазин С21,1199.0,1.0
2935848,2015-10-31,33,24,3042,20,Dragon Quest Heroes: The World Tree's Woe and ...,Игры - PS4,"Москва ТК ""Буденовский"" (пав.К7)",3199.0,1.0

In [5]:
train_df, test_df, sample_submission_df, items_df, item_categories_df, shops_df = data_util.read_data(f"{DATA_DIR}/{READ_ONLY_DIR}")

Reading Data...
Shape of train_df : (2935849, 6)
Shape of test_df : (214200, 3)
Shape of sample_submission_df : (214200, 2)
Shape of items_df : (22170, 3)
Shape of item_categories_df : (84, 2)
Shape of shops_df : (60, 2)

In [8]:
test_daily_df = pd.DataFrame(pd.date_range(start='2015-11-01', end='2015-11-30', freq="D"))
test_daily_df.columns = ['date']

In [41]:
test_daily_df['date_block_num'] = 34

In [42]:
test_daily_df.head()

        date  date_block_num
0 2015-11-01              34
1 2015-11-02              34
2 2015-11-03              34
3 2015-11-04              34
4 2015-11-05              34

In [57]:
test_items_df = pd.merge(test_df, items_df, how='left', on='item_id')

In [59]:
test_items_item_categories_df = pd.merge(test_items_df, item_categories_df, how='left', on='item_category_id')

In [62]:
test_items_item_categories_shop_df = pd.merge(test_items_item_categories_df, shops_df, how='left', on='shop_id')

In [64]:
test_items_item_categories_shop_df.head()

,ID,shop_id,item_id,item_name,item_category_id,item_category_name,shop_name
0,0,5,5037,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,"Вологда ТРЦ ""Мармелад"""
1,1,5,5320,ONE DIRECTION Made In The A.M.,55,Музыка - CD локального производства,"Вологда ТРЦ ""Мармелад"""
2,2,5,5233,"Need for Speed Rivals (Essentials) [PS3, русск...",19,Игры - PS3,"Вологда ТРЦ ""Мармелад"""
3,3,5,5232,"Need for Speed Rivals (Classics) [Xbox 360, ру...",23,Игры - XBOX 360,"Вологда ТРЦ ""Мармелад"""
4,4,5,5268,"Need for Speed [PS4, русская версия]",20,Игры - PS4,"Вологда ТРЦ ""Мармелад"""

In [18]:
nov_days = pd.date_range(start='2015-11-01', end='2015-11-30', freq="D", name='date')

In [67]:
test_merged_df = pd.DataFrame()
for d in nov_days:
    test_items_item_categories_shop_df['date'] = d
    test_merged_df = test_merged_df.append(test_items_item_categories_shop_df)

2015-11-01 00:00:00
2015-11-02 00:00:00
2015-11-03 00:00:00
2015-11-04 00:00:00
2015-11-05 00:00:00
2015-11-06 00:00:00
2015-11-07 00:00:00
2015-11-08 00:00:00
2015-11-09 00:00:00
2015-11-10 00:00:00
2015-11-11 00:00:00
2015-11-12 00:00:00
2015-11-13 00:00:00
2015-11-14 00:00:00
2015-11-15 00:00:00
2015-11-16 00:00:00
2015-11-17 00:00:00
2015-11-18 00:00:00
2015-11-19 00:00:00
2015-11-20 00:00:00
2015-11-21 00:00:00
2015-11-22 00:00:00
2015-11-23 00:00:00
2015-11-24 00:00:00
2015-11-25 00:00:00
2015-11-26 00:00:00
2015-11-27 00:00:00
2015-11-28 00:00:00
2015-11-29 00:00:00
2015-11-30 00:00:00

In [72]:
test_merged_df.head(2)

,ID,shop_id,item_id,item_name,item_category_id,item_category_name,shop_name,date
0,0,5,5037,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,"Вологда ТРЦ ""Мармелад""",2015-11-01
1,1,5,5320,ONE DIRECTION Made In The A.M.,55,Музыка - CD локального производства,"Вологда ТРЦ ""Мармелад""",2015-11-01

In [71]:
test_merged_df.shop_id.unique()

array([ 5,  4,  6,  3,  2,  7, 10, 12, 28, 31, 26, 25, 22, 24, 21, 15, 16,
       18, 14, 19, 42, 50, 49, 53, 52, 47, 48, 57, 58, 59, 55, 56, 36, 37,
       35, 38, 34, 46, 41, 44, 39, 45])

In [74]:
test_merged_df.item_id.nunique()

5100

In [75]:
test_merged_df.item_category_id.nunique()

62

In [76]:
test_merged_df.item_category_name.nunique()

62

In [77]:
test_merged_df.shop_name.nunique()

42

In [78]:
test_merged_df.date.describe()

count                 6426000
unique                     30
top       2015-11-24 00:00:00
freq                   214200
first     2015-11-01 00:00:00
last      2015-11-30 00:00:00
Name: date, dtype: object

In [81]:
test_merged_df.date.value_counts(dropna=False)

2015-11-24    214200
2015-11-11    214200
2015-11-29    214200
2015-11-08    214200
2015-11-18    214200
2015-11-05    214200
2015-11-13    214200
2015-11-26    214200
2015-11-02    214200
2015-11-15    214200
2015-11-10    214200
2015-11-23    214200
2015-11-20    214200
2015-11-07    214200
2015-11-28    214200
2015-11-04    214200
2015-11-30    214200
2015-11-17    214200
2015-11-25    214200
2015-11-12    214200
2015-11-14    214200
2015-11-01    214200
2015-11-22    214200
2015-11-09    214200
2015-11-19    214200
2015-11-06    214200
2015-11-27    214200
2015-11-03    214200
2015-11-16    214200
2015-11-21    214200
Name: date, dtype: int64

In [83]:
test_merged_df['date_block_num'] = 34

In [82]:
test_merged_df.columns

Index(['ID', 'shop_id', 'item_id', 'item_name', 'item_category_id',
       'item_category_name', 'shop_name', 'date'],
      dtype='object')

In [84]:
test_merged_df = test_merged_df[['date', 'date_block_num', 'shop_id', 
                                 'item_id', 'item_category_id', 'item_name', 
                                 'item_category_name', 'shop_name']]

In [86]:
test_merged_df.head()

,date,date_block_num,shop_id,item_id,item_category_id,item_name,item_category_name,shop_name
0,2015-11-01,34,5,5037,19,"NHL 15 [PS3, русские субтитры]",Игры - PS3,"Вологда ТРЦ ""Мармелад"""
1,2015-11-01,34,5,5320,55,ONE DIRECTION Made In The A.M.,Музыка - CD локального производства,"Вологда ТРЦ ""Мармелад"""
2,2015-11-01,34,5,5233,19,"Need for Speed Rivals (Essentials) [PS3, русск...",Игры - PS3,"Вологда ТРЦ ""Мармелад"""
3,2015-11-01,34,5,5232,23,"Need for Speed Rivals (Classics) [Xbox 360, ру...",Игры - XBOX 360,"Вологда ТРЦ ""Мармелад"""
4,2015-11-01,34,5,5268,20,"Need for Speed [PS4, русская версия]",Игры - PS4,"Вологда ТРЦ ""Мармелад"""

In [87]:
training_df = pd.read_csv(f"{DATA_DIR}/{PROCESSED_DIR}/train_merged.csv")

In [88]:
training_df.shape

(2935849, 10)

In [91]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 10 columns):
date                  object
date_block_num        int64
shop_id               int64
item_id               int64
item_category_id      int64
item_name             object
item_category_name    object
shop_name             object
item_price            float64
item_cnt_day          float64
dtypes: float64(2), int64(4), object(4)
memory usage: 224.0+ MB

In [89]:
test_df = pd.read_csv(f"{DATA_DIR}/{PROCESSED_DIR}/test_merged.csv")

In [90]:
test_df.shape

(6426000, 8)

In [ ]:
test_df.info()